[Desktop Entry]
Name=Joplin
Exec=/opt/Joplin/joplin %U
Terminal=false
Type=Application
Icon=joplin
StartupWMClass=@joplin/app-desktop
MimeType=x-scheme-handler/joplin;
Comment=Joplin for Desktop
Categories=Office;
X-XFCE-Source=file:///usr/share/applications/appimagekit-joplin.desktop
