[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/als/Рабочий стол/PyRadio.desktop]
row=0
col=1

[/home/als/Рабочий стол/fonts & template.zip]
row=3
col=0

[/home/als/Рабочий стол/1717532612863.pdf]
row=7
col=0

[/home/als/Рабочий стол/chrome-kajebgjangihfbkjfejcanhanjmmbcfd-Default.desktop]
row=1
col=0

[/home/als/Рабочий стол/def my_function():.py]
row=4
col=0

[/home/als/Рабочий стол/Руководство_по_написанию_скриптов_в_Linux_Bash (2).pdf]
row=5
col=0

[/home/als/Рабочий стол/steamguard]
row=6
col=0

[/home/als/Рабочий стол/Out]
row=2
col=0

[Work]
row=9
col=0

[Data]
row=8
col=0

[/home/als]
row=0
col=0

