[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/als/Рабочий стол/Lab2.pdf]
row=1
col=1

[/home/als/Рабочий стол/ виртуалка.txt]
row=6
col=0

[/home/als/Рабочий стол/steam.desktop]
row=4
col=0

[/home/als/Рабочий стол/Зумеры. Когда нет интернета.720p.mp4]
row=2
col=1

[/home/als/Рабочий стол/ctf]
row=3
col=1

[/home/als/Рабочий стол/Lab1.pdf]
row=5
col=0

[/home/als/Рабочий стол/BabyType 2000.Multi (rus)]
row=4
col=1

[/home/als/Рабочий стол/поверка счетчика воды.jpeg]
row=0
col=1

[/home/als/Рабочий стол/Web]
row=6
col=1

[/home/als/Рабочий стол/Лабы]
row=8
col=1

[/home/als/Рабочий стол/уфмс.txt]
row=3
col=0

[/home/als/Рабочий стол/prosto-o-vim.pdf]
row=8
col=0

[/home/als/Рабочий стол/Takeout]
row=7
col=1

[/home/als/Рабочий стол/ymp.desktop]
row=7
col=0

[/home/als/Рабочий стол/design-portfolio-webcademy]
row=5
col=1

[Корзина]
row=0
col=0

[/]
row=1
col=0

[/home/als]
row=2
col=0

