[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/als/Рабочий стол/CSPSetup-5.0.12000.exe]
row=8
col=2

[/home/als/Рабочий стол/Takeout]
row=3
col=3

[/home/als/Рабочий стол/gravitonscript1.sh]
row=2
col=1

[/home/als/Рабочий стол/pyradio.desktop]
row=7
col=0

[/home/als/Рабочий стол/регулярки.pdf]
row=4
col=2

[/home/als/Рабочий стол/githowto.zip]
row=6
col=1

[/home/als/Рабочий стол/ГРАФИК ОТПУСКОВ' 2025.doc]
row=6
col=2

[/home/als/Рабочий стол/Нейросети_для_перевода_видео.pdf]
row=6
col=3

[/home/als/Рабочий стол/цвета.png]
row=6
col=0

[/home/als/Рабочий стол/steam.desktop]
row=0
col=1

[/home/als/Рабочий стол/d1efdf10-9563-46a3-9539-5fb9b295decf.jpeg]
row=0
col=2

[/home/als/Рабочий стол/Дзен_Профессия_Frontend_разработчик_бесплатно.pdf]
row=5
col=1

[/home/als/Рабочий стол/VID_20250611_173301.mp4]
row=7
col=3

[/home/als/Рабочий стол/filezilla.desktop]
row=2
col=2

[/home/als/Рабочий стол/localsend.desktop]
row=1
col=2

[/home/als/Рабочий стол/deepseek_bash_20250428_6e7866.sh]
row=7
col=2

[/home/als/Рабочий стол/cleanup.sh]
row=5
col=0

[/home/als/Рабочий стол/Шпаргалка systemctl.pdf]
row=5
col=3

[/home/als/Рабочий стол/regexp_russian.pdf]
row=1
col=1

[/home/als/Рабочий стол/IMG_20250212_085304.jpg]
row=7
col=1

[/home/als/Рабочий стол/отчет епортал.docx]
row=0
col=3

[/home/als/Рабочий стол/не переносятся.jpg]
row=3
col=0

[/home/als/Рабочий стол/IMG_20250212_085309.jpg]
row=8
col=1

[/home/als/Рабочий стол/Дзен Профессия Frontend разработчик бесплатно.docx]
row=4
col=1

[/home/als/Рабочий стол/OpenPuff_release]
row=2
col=3

[/home/als/Рабочий стол/Out]
row=1
col=3

[/home/als/Рабочий стол/infra-gnulinux-pro-ru-latest.epub]
row=3
col=1

[/home/als/Рабочий стол/Нейросети_для_документов.pdf]
row=4
col=3

[/home/als/Рабочий стол/photo_2024-10-01_14-33-49.jpg]
row=4
col=0

[/home/als/Рабочий стол/Django 4 в примерах.pdf]
row=3
col=2

[/home/als/Рабочий стол/Landing_Xpress.fig]
row=5
col=2

[743C-24E3]
row=1
col=0

[F1C0-7621]
row=8
col=0

[7D4C-73E6]
row=2
col=0

[Корзина]
row=8
col=17

[/home/als]
row=0
col=0

