[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/als/Рабочий стол/Out]
row=2
col=0

[/home/als/Рабочий стол/assistant.desktop]
row=4
col=0

[/home/als/Рабочий стол/def my_function():.py]
row=5
col=0

[/home/als/Рабочий стол/fonts & template.zip]
row=3
col=0

[/home/als/Рабочий стол/chrome-kajebgjangihfbkjfejcanhanjmmbcfd-Default.desktop]
row=1
col=0

[Корзина]
row=6
col=0

[/home/als]
row=0
col=0

