[Desktop Entry]
Type=Application
Name=Conky
Exec=sh -c "conky -c /home/als/.config/conky/conky.conf"
Comment=Conky system monitor
NoDisplay=false
X-GNOME-Autostart-enabled=true
Hidden=false
Terminal=false
